<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15873941639-9plo4flbt3sgemskig0q4eg40uaoqpjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15873941639-9plo4flbt3sgemskig0q4eg40uaoqpjh</string>
	<key>API_KEY</key>
	<string>AIzaSyAtRTIP7lw8VUTkGGBY6hhiGBXU6EPWIak</string>
	<key>GCM_SENDER_ID</key>
	<string>15873941639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.Javorski.Bubbledance</string>
	<key>PROJECT_ID</key>
	<string>bubbledanceserver</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbledanceserver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15873941639:ios:e716f326a51d3f57b5d822</string>
	<key>DATABASE_URL</key>
	<string>https://bubbledanceserver.firebaseio.com</string>
</dict>
</plist>