<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632263321798-ov9rrov0rt00v04vd4sjfkmui4mqhot4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632263321798-ov9rrov0rt00v04vd4sjfkmui4mqhot4</string>
	<key>API_KEY</key>
	<string>AIzaSyCc6FTjedls4kyCN4hMIrYKaJ9W_xZXyRY</string>
	<key>GCM_SENDER_ID</key>
	<string>632263321798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.Javorski.Bubbledance</string>
	<key>PROJECT_ID</key>
	<string>bubble-dance-new-server</string>
	<key>STORAGE_BUCKET</key>
	<string>bubble-dance-new-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632263321798:ios:96e84fcf8117cdf5d24fc7</string>
	<key>DATABASE_URL</key>
	<string>https://bubble-dance-new-server.firebaseio.com</string>
</dict>
</plist>